.search{
  margin-top: 80px;
  position: relative;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.search *{
    background-color: inherit;
}

.search input{
  width: 100%;
  min-height: 40px;
  color: #1f2d54;
  border: 1px solid #e6e9f1;
  border-radius: 6px;
  padding: 14px;
  padding-left: 36px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.286em;
  box-shadow: 0 0 4px rgba(20, 20, 43, 09);
}

.search img{
  position: absolute;
  left: 14px;
  height: 18px;
  width: 18px;
}