.roomItemContainer{
  cursor: pointer;
}

.roomItem {
  background-color: white;
  border: 1px solid #e6e9f1;
  border-radius: 12px;
  box-shadow: 0 2px 7px rgba(20, 20, 43, 0.09);
  height: 100px;
  padding: 5px;
  padding-top: 8px;
  padding-right: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.roomItem * {
  background-color: inherit;
}

.roomItemTop{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.roomItemTopLeft{
  display: flex;
  align-items: center;
}

.roomItemTitle{
  font-size: 24px;
  font-weight: 700;
}

.roomItemPlayer{
  color: gray;
  font-size: 12px;
  padding-left: 2px;
  position: relative;
  top: 5px;
}

.roomItemBottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.roomItemBottomLeft{
  display: flex;
  gap: 5px;
}

.roomItemBtn{
  color: #3d73ff;
  background-color: #f1f4ff;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 32px;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.333em;
  display: inline-block;
}

.white{
  background-color: white;
  border-color: #3d73ff;
}

.roomItemPerson{
    font-size: 18px;
    font-weight: 600;
}