.container-margin-top {
  margin-top: 20px;
}

.image-size {
  display: block;
  width: 100%;
  height: 100%;
}

.button-size {
  width: 65px;
  height: 65px;
  background-color: #ffffff;
  color: #ffffff;
  border: none;
  appearance: none;

  pointer-events: pointer;
  /* cursor: pointer; */
}

.font-bold-large {
  font-size: 48px;
  font-weight: bold;
}

.button-large {
  padding: 4px 8px;
  font-size: 24px;
}

.button-width {
  width: 120px;
}

.card-custom {
  border: none;
  background: #ffffff;
  width: 80%;
  height: 200px;
}

.card-margin-left {
  margin-left: auto;
}

.card-margin-right {
  margin-right: auto;
}

.image-user {
  width: 48px;
  height: 48px;
  margin-right: 10px;
  background: #ffffff;
}

.card-title-large {
  font-size: 40px;
  background: #ffffff;
}

.card-text-large {
  font-size: 28px;
  margin-top: 10px;
  background: #ffffff;
}

.button-bottom-left {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 2px 4px;
  font-size: 20px;
}

.button-bottom-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 2px 4px;
  font-size: 20px;
}

.vs-section {
  height: 100%;
  font-size: 48px;
}

.algoBtn {
  color: #fff;
  text-align: center;
  transform-style: preserve-3d;
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(#3d7fff, #4b5dff);
  border: 1px solid #3961d9;
  border-radius: 76px;
  padding: 8px 16px;
  font-weight: 500;
  line-height: 1.286rem;
  text-decoration: none;
  margin-top: 16px;
}

.backBtn {
  color: #fff;
  text-align: center;
  transform-style: preserve-3d;
  background-color: red;
  border: 1px solid red;
  border-radius: 76px;
  padding: 8px 16px;
  font-weight: 500;
  line-height: 1.286rem;
  text-decoration: none;
  font-size: 24px;
}

.readyBtn {
  color: #fff;
  text-align: center;
  transform-style: preserve-3d;
  background-color: green;
  border: 1px solid green;
  border-radius: 76px;
  padding: 8px 16px;
  font-weight: 500;
  line-height: 1.286rem;
  text-decoration: none;
  font-size: 24px;
}

.button-bottom-right.ready,
.button-bottom-left.ready {
  background-color: red;
}
