*{
  margin : 0;
  padding : 0;
  box-sizing: border-box;
  background-color: #F7F8FC;
}

.swal2-title{
  background-color: white; 
}

.swal2-x-mark{
  background-color: transparent;
}

.swal2-html-container{
  background-color: white;
}

.swal2-confirm.swal2-confirm{
  background-color: #0d6efd;
}